<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Connect Four game created by Jennifer Bland">
        <title>Connect Four | Jennifer Bland</title>
        <link rel="shortcut icon" href="app/assets/images/favicon.ico" type="image/x-icon">

        <!-- use font from Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- stylesheets below - Added normalize to do a reset before my stylesheet -->
        <link rel="stylesheet" href="vendor/normalize-css/normalize.css">
        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="app/app.css">
    </head>

    <body ng-controller="mainController">
        <div class="flexContainer">
            <h1 class="gameTitle">Connect Four</h1>
        </div>
        <div class="flexContainer">

            <!-- Buttons to start game and show instructions-->
            <div>
                <button ng-click='startGame()' class="gameButton">Start Game</button>
                <button ng-click="computerGame()" class="gameButton">Play Computer</button>
                <button ng-click='toggleInstructionsModal()' class="gameButton">Instructions</button>
            </div>
        </div>

        <!-- game board shown below -->
        <div id="gameBoard" class="flexContainer">
            <div class="flexColumn" ng-class="getShakeClass('c1')" ng-click="dropChip('c1')">
                <div id="c16" ng-class="getSlotClass('c16')"></div>
                <div id="c15" ng-class="getSlotClass('c15')"></div>
                <div id="c14" ng-class="getSlotClass('c14')"></div>
                <div id="c13" ng-class="getSlotClass('c13')"></div>
                <div id="c12" ng-class="getSlotClass('c12')"></div>
                <div id="c11" ng-class="getSlotClass('c11')"></div>
            </div>
            <div class="flexColumn" ng-class="getShakeClass('c2')" ng-click="dropChip('c2')">
                <div id="c26" ng-class="getSlotClass('c26')"></div>
                <div id="c25" ng-class="getSlotClass('c25')"></div>
                <div id="c24" ng-class="getSlotClass('c24')"></div>
                <div id="c23" ng-class="getSlotClass('c23')"></div>
                <div id="c22" ng-class="getSlotClass('c22')"></div>
                <div id="c21" ng-class="getSlotClass('c21')"></div>
            </div>
            <div class="flexColumn" ng-class="getShakeClass('c3')" ng-click="dropChip('c3')">
                <div id="c36" ng-class="getSlotClass('c36')"></div>
                <div id="c35" ng-class="getSlotClass('c35')"></div>
                <div id="c34" ng-class="getSlotClass('c34')"></div>
                <div id="c33" ng-class="getSlotClass('c33')"></div>
                <div id="c32" ng-class="getSlotClass('c32')"></div>
                <div id="c31" ng-class="getSlotClass('c31')"></div>
            </div>
            <div class="flexColumn" ng-class="getShakeClass('c4')" ng-click="dropChip('c4')">
                <div id="c46" ng-class="getSlotClass('c46')"></div>
                <div id="c45" ng-class="getSlotClass('c45')"></div>
                <div id="c44" ng-class="getSlotClass('c44')"></div>
                <div id="c43" ng-class="getSlotClass('c43')"></div>
                <div id="c42" ng-class="getSlotClass('c42')"></div>
                <div id="c41" ng-class="getSlotClass('c41')"></div>
            </div>
            <div class="flexColumn" ng-class="getShakeClass('c5')" ng-click="dropChip('c5')">
                <div id="c56" ng-class="getSlotClass('c56')"></div>
                <div id="c55" ng-class="getSlotClass('c55')"></div>
                <div id="c54" ng-class="getSlotClass('c54')"></div>
                <div id="c53" ng-class="getSlotClass('c53')"></div>
                <div id="c52" ng-class="getSlotClass('c52')"></div>
                <div id="c51" ng-class="getSlotClass('c51')"></div>
            </div>
            <div class="flexColumn" ng-class="getShakeClass('c6')" ng-click="dropChip('c6')">
                <div id="c66" ng-class="getSlotClass('c66')"></div>
                <div id="c65" ng-class="getSlotClass('c65')"></div>
                <div id="c64" ng-class="getSlotClass('c64')"></div>
                <div id="c63" ng-class="getSlotClass('c63')"></div>
                <div id="c62" ng-class="getSlotClass('c62')"></div>
                <div id="c61" ng-class="getSlotClass('c61')"></div>
            </div>
            <div class="flexColumn" ng-class="getShakeClass('c7')" ng-click="dropChip('c7')">
                <div id="c76" ng-class="getSlotClass('c76')"></div>
                <div id="c75" ng-class="getSlotClass('c75')"></div>
                <div id="c74" ng-class="getSlotClass('c74')"></div>
                <div id="c73" ng-class="getSlotClass('c73')"></div>
                <div id="c72" ng-class="getSlotClass('c72')"></div>
                <div id="c71" ng-class="getSlotClass('c71')"></div>
            </div>
        </div>

        <!-- modal code below -->
        <instructions-modal show='instructionsModalShown'>
            <div class="flexContainer">
                <h1>Connect Four Game Rules</h1>
            </div>
            <div>
                <h3>Object:</h3>
                <p>To win Connect Four you must be the first player to get four of your colored checkers in a row either horizontally, vertically or diagonally.</p>
            </div>
            <div>
                <h3>How to Play:</h3>
                <div>
                    <ol>
                        <li>Decide who plays first. Players will alternate turns after playing a checker.</li>
                        <li>On your turn, drop one of your checkers down ANY of the slots in the grid by clicking on the grid.</li>
                        <li>Play alternates until one player gets 4 checkers of his/her color in a row. The 4-in-a-row can be horizontal, vertical or diagonal.</li>
                        <li>If you're the first player to get four of the checkers in a row, you win the game.</li>
                    </ol>
                </div>

            </div>
        </instructions-modal>

        <results-modal show="resultsModalShown">
            <div class="flexContainer">
                <h1 ng-show="!getNumMoves() && (game.numMoves != 0)">Winner is {{ game.winner }}</h1>
                <h1 ng-show="getNumMoves()">Tie Game!</h1>
                <h1 ng-show="game.numMoves == 0">Player 1 Starts</h1>
            </div>
        </results-modal>

        <!-- footer component -->
        <footer></footer>

        <!-- add scripts -->
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/angular-animate/angular-animate.js"></script>
        <script src="app/app.js"></script>
        <script src="app/components/footer/footer.js"></script>
    </body>

</html>