* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff3cd;
}

/* -------------------
 *    Flex Items
 * ------------------*/
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center
}

/* -----------------------
 * Game Title and Board
 * -----------------------*/
.gameTitle {
    font-size: 72px;
    text-align: center;
    font-weight: 700;
    text-shadow:
        0 3px 0 #b2a98f,
        0 14px 10px rgba(0,0,0,0.15),
        0 24px 2px rgba(0,0,0,0.1),
        0 34px 30px rgba(0,0,0,0.1);
    color: #005dab;
}

#gameBoard {
    margin-top: 25px;
}

.slot {
    width: 90px;
    height: 90px;
    margin: 0 10px 10px 0;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 6px 6px 0 rgba(0,0,0,0.2);
}
.slot:last-child {
    margin-right: 0;
}
.player1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    margin: 0 10px 10px 0;
}
.player2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: green;
    margin: 0 10px 10px 0;
}

/* ---------------------
 *    Buttons
 * ---------------------*/
.gameButton {
    color: #f4f4f4;
    text-align: center;
    margin: 5px 5px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    cursor: pointer;
    background: #005dab;
    border: solid 0 #e3edf4;
    border-bottom: 2px solid #004F91;
    border-radius: 4px;
}

/* ---------------------
 *    Animations
 * ---------------------*/
.shakeColumn {
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@-webkit-keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

/* ----------------------
 *    Modal
 * ----------------------*/
.ng-modal-overlay {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}
.ng-modal-dialog {
    z-index:10000;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
    border-radius: 8px;
}
.ng-modal-dialog-content {
    padding: 20px;
}
.ng-modal-close {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}
.ng-modal-dialog h1 {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    color: #005dab;
    font-weight: 700;
}

/* -----------------
 *   media queries
 * -----------------*/
@media only screen and (min-width: 300px) {
    .gameTitle {
        font-size: 40px;
        text-shadow:
                0 3px 0 #b2a98f,
                0 7px 10px rgba(0,0,0,0.15),
                0 11px 2px rgba(0,0,0,0.1),
                0 17px 30px rgba(0,0,0,0.1);
    }

    .slot {
        width: 40px;
        height: 40px;
        margin: 0 5px 5px 0;
    }
}
@media (min-width: 576px) {
    .gameTitle {
        font-size: 48px;
    }

    .slot {
        width: 60px;
        height: 60px;
        margin: 0 10px 10px 0;
    }
}
@media only screen and (min-width: 768px) {
    .gameTitle {
        font-size: 60px;
    }

    .slot {
        width: 70px;
        height: 70px;
        margin: 0 10px 10px 0;
    }
}